
    <th scope="row">Votre mail :</th>
      <h5> <%= @email.object %> </h5>
    <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', email, :class => 'home_links', :style => 'color: black', method: :delete, remote: true%></button></td>
 